.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/MPChartLib
/rebound-android
/rebound-core
/sMSSDK
/Crouton
/ViewPagerIndicator
/actionbarsherlock
/edittextvalidator
.apk
.jks
.txt
AndroidManifest.xml
